<div class="profile">
    <%= render partial: 'user_card', locals: { user: @user} %>
    <div class="bio">
        <h3>Bio</h3>
        <p class="b-text"><%= @user.bio %></p>
    </div>
    <div class="section-post-container">
        <ul class="posts">
            <% @user.last_three_posts.each_with_index do |post, i| %>
                <li>
                  <a href="<%=user_post_path(@user,post)%>">
                   <%= render partial: 'posts/post_card', locals: { post: post, post_number:i+1 } %>
                  </a>
                </li>
            <% end %>
        </ul>
        <%# next button will redirect to see all post for current user %>
    </div>
        <button class="button">
            <a href="<%=user_posts_path(@user)%>">See more posts</a>
        </button>
               <button class="button">
            <a href="<%=users_path%>">other user's posts</a>
        </button>
</div>