<div class="section-full-post">
    <div class="full-post">
        <div class="post-top">
         <span>Post #<%=@current_post_number%> by <%=@post.author.name%> </span>
         <div class="post-top-right">
           <span>Comments: <%=@count_comments%>, Likes: <%=@count_likes%></span>
         </div>
        </div>
        <p class="fp-text"> <%=@post.text%> </p>
    </div>
    <%= render partial: 'application/comments_box', locals: {comments: @comments}%>
          <button class="button">
            <a href="<%=user_path(@user)%>">
                Go back
            </a>
        </button>
        <div class="like-container">
            <%= render partial: 'application/likes_button', object: @post, as: :post %>
        </div>
</div>